.container {
	margin-top: 20px;
}

/* Header */
.row-head .margin-0 {
	margin: 0;
}
.row-head a {
	color: #428bca;
}
.row-head a.small-href {
	font-size: 13px;
}
.row-head .header-links {
	line-height: 1;
    margin-top: 5px;
}
.row-head .header-links > a {
	margin-right: 2px;
}
.row-head .jumbotron h1 {
	line-height: 1;
}

/* Content */
.row-content div.caption > div > h3 {
    display: inline-block;
}