/* Import font for IE8 */
@import url(http://fonts.googleapis.com/css?family=Lobster);

.header > .header-text {
    position: absolute;
    margin: 69px 34%;
}
.images-container {
    width: 1050px;
}
.images-middle {
    width: 1050px;
}
.images-inner {
    width: 550px;
}
.images-inner > a:hover {
    filter: alpha(opacity=50);
}
.images-inner > a > img {
    width: 80%;
}