body > div {
	margin-top: 20px;
	margin-bottom: 50px;
	border-bottom: 1px solid #cecece;
	padding-bottom: 10px;
}
.hide {
	display: none;
}
/* tag css */
.tag-list-head {
	margin-bottom: 10px;
}
.tag-list-head > a {
	margin-left: 5px;
	padding: 0;
	text-align: left;
	border-bottom: 1px dashed;
}
.tag-list-head > a:hover {
	text-decoration: none;
	color: #337ab7;
}
.tag-list-tags {
	margin-bottom: 10px;
}
.tag-list-tags > div {
	float: left;
	padding: 5px;
	margin: 2px;
}
/* use .col-xs-12 to higher the priority of selector */
.tag-list-tags.col-xs-12 > div > button {
	color: #ffffff;
	font-size: 15px;
	background-color: #777777;
	border: 0;
}
.tag-list-tags.col-xs-12 > div > button:hover {
	background-color: #999999;
}
.tag-list-tags-add {
	display: none;
}
.tag-wrong-input {
	border-color: #d02121;
}