.taglist-container {
    padding: 0;
}

.taglist-container > div:first-child {
    margin-top: 20px;
}
.taglist-container > div {
    margin-top: 50px;
}
@media only screen and (max-width:991px) {
    .taglist-container > div {
        margin-top: 20px;
    }
}

.tag-list-tags-add > .input-wrapper {
    padding: 5px;
}
.tag-list-tags-add > .button-wrapper {
    padding: 5px;
}
@media only screen and (max-width:767px) {
    .taglist {
        padding: 0;
    }
    .taglist > div {
        padding: 0;
    }
    .tag-list-tags-add > .input-wrapper {
        padding: 0 5px;
    }
    .tag-list-tags-add > .button-wrapper {
        margin-top: 5px;
        padding: 0 5px;
    }
}

@media only screen and (max-width:400px) {
    .tag-list-tags > div {
        float: left;
        position: relative;
        min-height: 1px;
    }
}

.taglist > div:last-child {
    margin-top: 5px;
    border-bottom: 1px solid #cecece;
}
.col-center {
    float: none;
    margin: 0 auto;
}

.hide {
    display: none;
}

.tag-list-head {
    margin-bottom: 5px;
}
.tag-list-head > a {
    margin-left: 5px;
    padding: 0;
    text-align: left;
    border-bottom: 1px dashed;
}
.tag-list-head > a:hover {
    text-decoration: none;
    color: #337ab7;
}
.tag-list-tags > div {
    display: table;
    float: left;
    padding: 0 5px;
    margin: 3px 0;
}

/* use .col-xs-12 to higher the priority of selector */
.tag-list-tags.col-xs-12 > div > button {
    white-space: normal;
    color: #ffffff;
    font-size: 15px;
    background-color: #777777;
    border: 0;
}
.tag-list-tags.col-xs-12 > div > button:hover {
    background-color: #999999;
}
.tag-list-tags.col-xs-12 > div > div {
    float: none;
    display: table-cell;
    color: #ffffff;
    font-size: 15px;
    background-color: #777777;
    border: 0;
}
.tag-list-tags.col-xs-12 > div > div:hover {
    background-color: #999999;
}
.tag-list-tags-add {
    margin-top: 5px;
    display: none;
}
.tag-wrong-input {
    border-color: #d02121;
}