/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset code */


.slider-node {
	margin: 50px auto 0;
	height: 345px;
	width: 1210px;
}
.slider-node2 {
	margin: 50px auto 0;
	height: 345px;
	width: 1210px;
}
.slider-sidebar {
	float: left;
	width: 300px;
	height: 335px;
}
.slider-sidebar > div {
	height: 25%;
	border-top: 2px solid #dfdfdf;
	border-left: 2px solid #dfdfdf;
}
.slider-sidebar > div:hover {
	cursor: pointer;
}
.slider-sidebar > div:last-child {
	border-bottom: 2px solid #dfdfdf;
}
.slider-images {
	overflow: hidden;
	width: 910px;
	height: 345px;
}
.slider-images-inner {
	width: 9999px;
	margin-left: 0;
}
.slider-image-active {
	background: #fe6c25;
	position: relative;
}
.slider-image-active:after {
	content: ''; 
    position: absolute;
    left: 298px;
    top: 28px;
    border: 13px solid transparent;
    border-left: 15px solid #fe6c25;
}